<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Home</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<form >
    <div class="card mb-3" style="max-width: 700%;margin-left: 27% ;margin-right: 3%;margin-top: 1%" >
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/static/img/download.jpeg" class="img-fluid rounded-start" type="lazy" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="btn-group ,col-lg-6">
                        <a href="#" class="btn btn-primary" aria-current="page">Wiev</a>
                    </div>
                </div>
            </div>
        </div>
    </div></form>
<form >
    <div class="card mb-3" style="max-width: 700%;margin-left: 27% ;margin-right: 3%;margin-top: 1%" >
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/static/img/download.jpeg" class="img-fluid rounded-start" type="lazy" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="btn-group ,">
                        <a href="#" class="btn btn-primary" aria-current="page">Wiev</a>
                    </div>
                </div>
            </div>
        </div>
    </div></form>
<form >
    <div class="card mb-3" style="max-width: 700%;margin-left: 27% ;margin-right: 3%;margin-top: 1%" >
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/static/img/download.jpeg" class="img-fluid rounded-start" type="lazy" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="btn-group ,">
                        <a href="#" class="btn btn-primary" aria-current="page">Wiev</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form><form >
    <div class="card mb-3" style="max-width: 700%;margin-left: 27% ;margin-right: 3%;margin-top: 1%" >
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/static/img/download.jpeg" class="img-fluid rounded-start" type="lazy" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="btn-group ,">
                        <a href="#" class="btn btn-primary" aria-current="page">Wiev</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form><form >
    <div class="card mb-3" style="max-width: 700%;margin-left: 27% ;margin-right: 3%;margin-top: 1%" >
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/static/img/download.jpeg" class="img-fluid rounded-start" type="lazy" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="btn-group ,">
                        <a href="#" class="btn btn-primary" aria-current="page">Wiev</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


</body>
</html>